<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Home Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
      <center>  <h1>Welcome to My Website</h1></center>
    </header>

  <center>  <main>
    <section class="intro">
        <p>Welcome to our website. We offer simple and effective solutions for all your needs.</p>
    </section>

    <section class="services">
        <h2>Our Services</h2>
       
            <li>Web Development</li>
            <li> web designer  </li>
            <li> node js developer </li>
        
        </section>


        <br><br>
        <button  type="button"  class="btn btn-primary" > <a href="/logout"> Logout </a>  </button>

    </main>
</center>
   

 
</body>
</html>
